.not-found {
  text-align: center;
  margin-top: 3em;
  padding: 8em 0;
}
h2 {
  font-size: 3rem;
}
.zero {
  color: #ffffff;
  background-color: goldenrod;
  border-radius: 3px;
  padding: 0 0.1em;
}
.not-found p {
  font-size: 1.2rem;
  margin-top: 0.5em;
  color: #fff;
}
.not-found a {
  margin-top: 2em;
  color: goldenrod;
  margin-bottom: 2em;
}
